.flex-right{
  display: flex;
  margin-left: auto;
  margin-right: 0;
}
.w214{
  width: 214px;
}
.width-50p{
  width: 50%;
}
.form-line::after{
  border-color: #8BC34A !important;
}
.nav-tabs > li > a::before{
  border-color: #8BC34A !important;
}
.form-group .form-line.focused .form-label{
  color: black !important;
}
.category-select{
  height: unset !important;
  button{
    padding-left: 0;
    font-size: 18px !important;
    color: #aaa;
  }
}

.last-admin-column{
  display: flex;
  .deleteButton{
    margin-left: 10px;
  }
}

.select-fix{
  > div {
    height: 46px;
  }
  button{
    height: 100%;
    font-size: 17px !important;
    padding-left: 0;
    padding-right: 5px;
    color: #555;
  }
}